H1{
    color: aquamarine;
}
#logo{
    height:100px;
    width: 100px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.bitcount-grid-single{
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Single", system-ui;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}