div{
    font-style: calc();
   
    color: red;
    height: 400px;
    width: 400px;
    background-color: blue;
    border-radius: 50%;
}
.eye{
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
   margin-left: 20%;
   margin-right: 20px;
   margin-top: 20%;
  /* padding: 20%;*/
   display: inline-block;
}
#font{
font-family:monospace;
font-size: 30px;
}